// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "compass/typography/vertical_rhythm";

@import url(http://fonts.googleapis.com/css?family=Lato:300);

* {
    font-family: "Lato", Arial;
}

$base-font-size: $font-size-base;
$base-line-height: $line-height-computed;

@include establish-baseline;

body {
    background-attachment: fixed;
    background: image-url("fondo.jpg") bottom right no-repeat;
}

.m-header {
    .app-title {
        @include adjust-font-size-to(27px);
        color: #333;
        margin: $grid-gutter-width 0;
        padding: 0;
    }
}

.m-map {
    #map-div {
        width: 85%;
        margin: auto auto;
        overflow: hidden;
        height: 600px;
    }
}

.m-offices-list {
    @media only screen and (min-width: 1000px) {
        height: 83%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .m-department {
        margin-bottom: $grid-gutter-width / 1.4;
        h1, h2, h3, p {
            margin: 0;
            padding: 0;
        }
        .department-name {
            margin: 0;
            padding: 0;
            background: #666666;
            color: white;
            @media only screen and (min-width: 1000px) {
                /* hover styles here */
                @include adjust-font-size-to($base-font-size + 2px);
            }
            @media only screen and (max-width: 1000px) {
                /* non-hover styles here */
                @include adjust-font-size-to($base-font-size + 2px, ($base-font-size + 12px) / $base-line-height);
            }
            margin-bottom: $grid-gutter-width / 2;
            font-weight: normal;
            a {
                display: block;
                color: white;
                text-decoration: none;
                padding: 2px 0;
                padding-left: $grid-gutter-width * 1.5;
                background: #666666 image-url("flecha_der.png") no-repeat 7px center;
                &:hover {
                    cursor: pointer;
                    background: #eb2126 image-url("flecha_der.png") no-repeat 7px center;
                }
            }
            &:hover {
                @media only screen and (min-width: 1000px) {
                    /* hover styles here */
                    background: #eb2126;
                }
                @media only screen and (max-width: 1000px) {
                    /* non-hover styles here */
                }
            }
            &:active {
                background: #888;
            }
            &.active {
                background: #eb2126;
                a {
                    background: #eb2126 image-url("flecha_abajo.png") no-repeat 5px center;
                    @media only screen and (min-width: 1000px) {
                        /* hover styles here */
                        background: #eb2126 image-url("flecha_abajo.png") no-repeat 5px center;
                    }
                    @media only screen and (max-width: 1000px) {
                        /* non-hover styles here */
                    }
                }
                &:hover {
                    @media only screen and (min-width: 1000px) {
                        /* hover styles here */
                        background: #eb2126;
                    }
                    @media only screen and (max-width: 1000px) {
                        /* non-hover styles here */
                    }
                }
            }
        }
        .content-department {
            display: none;
            .m-city {
                margin-bottom: $grid-gutter-width / 2;
                padding-left: $grid-gutter-width;
                .city-name {
                    @media only screen and (min-width: 1000px) {
                        /* hover styles here */
                        @include adjust-font-size-to($base-font-size + 1px);
                    }
                    @media only screen and (max-width: 1000px) {
                        /* non-hover styles here */
                        @include adjust-font-size-to($base-font-size + 1px, ($base-font-size + 10px) / $base-line-height);
                    }
                    background: #ccc;
                    color: #333;
                    margin-bottom: $grid-gutter-width / 2;
                    padding-left: $grid-gutter-width / 2;
                    font-weight: normal;
                    a {
                        display: block;
                        color: #333;
                        text-decoration: none;
                        padding: 2px 0;
                        &:hover {
                            @media only screen and (min-width: 1000px) {
                                /* hover styles here */
                                color: #000;
                                cursor: pointer;
                            }
                            @media only screen and (max-width: 1000px) {
                                /* non-hover styles here */
                            }
                        }
                    }
                    &:hover {
                        @media only screen and (min-width: 1000px) {
                            background: #bbb;
                        }
                        @media only screen and (max-width: 1000px) {
                            /* non-hover styles here */
                        }
                    }
                    &:active {
                        background: #999;
                    }
                }
                .content-city {
                    display: none;
                    .m-office {
                        border-bottom: 1px solid #ccc;
                        padding-bottom: $grid-gutter-width / 1.5;
                        margin-bottom: $grid-gutter-width / 1.5;
                        .office-name {
                            @include adjust-font-size-to($base-font-size - 1px);
                            color: #333;
                            font-weight: bold;
                        }
                        p {
                            @include adjust-font-size-to($base-font-size - 1px);
                            margin: 0;
                            padding: 0;
                        }
                        .contact-info {
                            color: red;
                        }
                    }
                    &.active {
                        display: block;
                    }
                }
            }
            &.active {
                display: block;
            }
        }
    }
}